#container{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.container{
    max-width: 500px;
}

.todo{
    button {
        margin-left: 10px;
    }
}
